@@ -1,30 +0,0 @@
# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
.vscode
# gradle
build
.gradle
gradlew
gradle/*
gradlew.bat

# other
eclipse
run
libs
run-data
src/generated

# Files from Forge MDK
forge*changelog.txt
